@import "./base/normalize";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/tables";
@import "./utils/mixins";
@import "./base/general";
@import "./utils/_keyframes";

.logo {
    margin: auto;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    @include flex-centreh;
}
header{
    object-fit: scale-down;
}

.situation {
    @include flex-centreh;
    border: none;
    background: darken($grix,5%);
    box-shadow: inset 0 6px 6px -7px rgb(0 0 0 / 50%);
    @include tablette{
        text-align: center;
    }
    @include desktop{
        text-align: center;
    }
    
    padding: 5% 0 5% 0;
    & i{
        padding-right: 5%;
        @include tablette{
            padding-right: unset;
        }
        @include desktop{
            padding-right: unset;
        }
    }
    & form{
        width: 30%;
        @include tablette{
            width: 20%;
        }
        @include desktop{
            width: 20%;
        }
        
        & input{
            background-color: darken($grix,5%);
            font-weight: 900;
            border: none;
            @include tablette{
                padding-left: 30%;
            }
            @include desktop{
                padding-left: 30%;
            }
        }
    }
}    

.presentation{    
    flex-direction: column;
    background-color: $grix;
    padding-bottom: 5%;  
    padding-top: 10%;
    @include tablette{
        padding-top: 5%;
    }
    @include desktop{
        padding-top: 5%;
    }
    &__1, &__2, &__explore{
        @include flex-centreh;
        text-align: center;
        max-width: 300px;
        margin: auto;
        @include tablette{
            max-width: unset;
        }
        @include desktop{
            max-width: unset;
        }
    }
    & h2{
        margin-top: 0px;
        margin-bottom: 5%;
    }
    & p{
        margin-bottom: 5%;
    }
    &__explore{
        width: 60%;
        max-width: 300px;
        margin: auto;
        padding:20px;
        border: 0px solid $couleur-primaire;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
        box-shadow: 3px 3px 3px darken($grix, 10%);
        color: white;
        border-radius: 40px;
        margin-bottom: 30px;
        &:hover{
            background: linear-gradient(lighten($couleur-secondaire,10%), (lighten($couleur-primaire, 10%)));
            box-shadow: 3px 3px 3px darken($grix, 20%);
        }
    }
}

.fonctionnement{
    margin: 10% 0% 10% 5%;
    @include desktop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20% 80%;
        margin-left: unset;
    }
    & .fnc-titre{
        margin-left: -2%;
        @include tablette{
            grid-column: 1 / span 3;
            text-align: center;  
            margin-left: unset; 
        }
        @include desktop{
            grid-column: 1 / span 3;
            text-align: center;
            margin-left: unset;
        }
    }
}

.btn-fnc {
    @include flex-centrev;
    @include tablette{
        justify-content: center;
    }
    @include desktop{
        grid-row-start: 2;
    }
    &__choice{
        @include flex-centreh;
        border: 0px solid;
        border-radius: 20px;
        padding: 20px;
        margin: 15px;
        margin-left: 0;
        width: -webkit-fill-available;
        width: -moz-available;
        background-color: $grix;
        box-shadow: 3px 3px 3px darken($grix, 10%);
        position: relative;
        height: 30px;
        color: darken($color: $grix, $amount: 40%);
        max-width: 450px;
        @include desktop{
            height: 100px;
            margin: 15px;
        }
        & i{
            @include flex-centreh;
            position: absolute;
            left: 15%;
            top: 40%;
            font-size: 20px;
            @include desktop{
                left: 51%;
                top: 42%;
            } 
        }    
        &__logo{
            @include decalage;
            @include desktop{

            } 
        }
        &:hover {
            background-color: lighten($color: $couleur-primaire, $amount: 35%);
            color: $couleur-primaire;
        }
        &__txt{
            color: initial;
            font-weight: bold;
            left: 25%;
            top: 40%;
            position: absolute;
            @include desktop{

                left: unset;
                top: 72%;
            }
        }
        &__num{
            border: 1px solid $couleur-primaire;
            background-color: $couleur-primaire;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            color: white;
            display: flex;
            align-items: center;
            position: fixed;
            left: 3%;
            margin-top: 1%;
            @include tablette{
                left: unset;
                right: 89%;
                position: absolute;
            }
            @include desktop{
                position: absolute;
                top: 15%;
                left: 50%;
                margin-top: unset;
            }
        }
    }
    @include tablette {
        //l'idée ici est de faire 3 carrés cote a cote
    };
}

#restos {
    background-color: $grix;
    padding-bottom: 15%;
    padding-top: 10%;
    @include tablette{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 40% 40%;
        grid-row-gap: 4%;
        padding-bottom: 15%;
        padding-top: 3%
    }
    @include desktop{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 25% 75%;
        padding-bottom: 10%;
        padding-top: 3%
    }
    & figure {
        @include decalage;
        background-color: white;    
    }

}

.restos {

    &__titre{
        @include decalage;
        @include tablette{
            grid-column: 1 / span 2;
            text-align: center;
            
        }
        @include desktop{
            grid-row-start: 1;
            text-align: center;
            grid-column: 1/span 4;
        }
    }
    &__carte{
        border-radius: 20px;
        position: relative;
        margin-top: 5%;
        box-shadow: 5px 5px 5px darken($grix, 10%);
        @include tablette{
            margin-bottom: 10%;
        }
        @include desktop{
            grid-row-start: 2;
        }
        
        &__pastille-new{
            border: 0px solid; 
            background-color: $couleur-tertiaire;
            color: darken($couleur-tertiaire, 40%);
            width: 60px;
            position: absolute;
            top: 5%;
            right: 5%;
            padding: 5px 10px;
        }
        &__texte{
            flex:5;
        }
        &__coeur{
            flex:1;
            font-size: 200%;
            @include flex-centrev;
            padding-right: 8%;
            position: relative; 
            @include tablette{
                font-size: 175%; 
            }    
            @include desktop{
                font-size: 150%; 
            }                    
            &__coeur-1{
                opacity: 1;
                position: absolute;
                left: 30%;
                transition: opacity 500ms; 
                &:hover, &active{
                    opacity: 0;
                }
            }                
            &__coeur-2{
                background-image: linear-gradient($couleur-primaire, $couleur-secondaire);
                -webkit-background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                color: transparent;
                /*color: $couleur-primaire; linear-gradient($couleur-primaire, $couleur-secondaire);*/
                position: absolute;
                left: 30%;
                opacity: 0;
                transform :scale(1);
                transition: opacity 500ms; 
                &:hover, &active{
                    opacity: 1;
                    transform :scale(1.2)
                }
            }
        }
        & img{
            aspect-ratio: 2 / 1;
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 100%;
        }
        &__texte{
            margin-left: 2%;
            margin-top: 2%;
            padding-bottom: 5%;
            & h3 {
                margin-top: 4%;
                margin-bottom: 2%;
            }
        }
        & figcaption{
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 0px 0px 20px 20px;
            margin-top: -2%;
        }
    }
}

footer{
    background-color: darken($color: $grix, $amount: 75%);
    padding-bottom: 5%;
    @include tablette{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.footer{
    &__logo{
        color: white;
        padding-bottom: 5%;
        @include desktop{
            display: flex;
            justify-content: center;
        }
        & svg{
            padding-top: 3%;
            stroke: white;
            width: 20%;
            @include decalage; 
            @include tablette{
            width: 100%;
            }           
            & path{
                fill: white;
            }
        }
    }
    &__liste{
        & ul{
            margin: 0px;
            padding-left: 0px;
            @include decalage;
            @include tablette{
                width: 150%;
            }          
            @include desktop{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
            & li{
                padding-bottom: 1%;
                @include tablette{
                    padding-bottom: 3%;
                }     
                @include desktop{
                    text-align: center;
                }
                & i{
                    font-size: 13px;
                    width: 7%;
                }
                & a{
                    color: white;
                }
            }
        }
    }
}

// les pages des differents restos
.head-resto{
    display: flex;
}
.retour{
    font-size: 25px;
    flex: 1;
    @include flex-centreh;
    align-items: center;
}
.logo2{
    flex: 5;
    padding-top: 5%;
    padding-bottom: 5%;
    @include flex-centreh;
    & img{
        width: 50%;
    }
}

.img-et-menu{
    position: relative;
}
.img-resto{
    position: static;
    z-index: -1;
    & img{
        aspect-ratio: 1.5 / 1;
        @include tablette{
            aspect-ratio: 1.5/1;  
        }
        @include desktop{
            aspect-ratio: 1.5/1;
        }
    }
}
.menu{
    position: relative;
    margin-top: -28%;
    background-color: $grix;
    padding-top: 10%;
    border-radius: 50px 50px 0px 0px;
    & .plats{
        @include decalage;
        margin-bottom: 5%;
        @include tablette{
            @include flex-centrev;
            flex-direction: column;
        }
        @include desktop{
            @include flex-centrev;
            flex-direction: column;
        }
        & h2{
        margin-bottom: 0px;
        }
        & .ligne{
        border: 3px solid transparent;
        border-bottom-color: $couleur-tertiaire;
        width: 15%;
        max-width: 70px;
        }
    }
    &__nom{
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        @include desktop{
            margin-bottom: 5%;
            margin-top: -5%;
        }
        &__txt{
            font-family: "Shrikhand", cursive;
            flex: 5;
            padding-left: 5%;
            @include desktop{
                margin-bottom: 5%;
                flex: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
        &__coeur{
            flex: 1;
            position: relative;
            &__coeur-1{
                @include coeur-titre1;
            }                
            &__coeur-2{
                @include coeur-titre2;
            }
        }
    }
    &__entrees{
        @include decalage;
        @include desktop{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2%;
            grid-template-rows: repeat(2, 1fr);
        }

        &__entree1, &__entree2, &__entree3, &__entree4{
            @include contour-plat;
            @include desktop{
                //l'idée ici est de faire 1 ligne de 3-4 carrés
            }
        }
        @include plats
    }

    &__plats{
        @include decalage;
        @include desktop{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2%;
            grid-template-rows: repeat(2, 1fr);
        }
        
        &__plat1, &__plat2, &__plat3{
            @include contour-plat;
            @include desktop{
                //l'idée ici est de faire 1 ligne de 3-4 carrés
            }
        }
        @include plats
    }
    &__desserts{
        @include decalage;
        @include desktop{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2%;
            grid-template-rows: repeat(2, 1fr);
        }
       
        &__dessert1, &__dessert2, &__dessert3{
            @include contour-plat;
            @include desktop{
                //l'idée ici est de faire 1 ligne de 3-4 carrés
            }
        }
        @include plats
    }
}
.cmd{
    display: flex;
    &__btn{
        width: 55%;
        margin: auto;
        padding:20px;
        border: 0px solid $couleur-primaire;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
        box-shadow: 3px 3px 3px darken($grix, 10%);
        color: white;
        border-radius: 30px;
        margin-bottom: 60px;
        margin-top: 30px;
        font-size: 18px;
        &:hover{
            background: linear-gradient(lighten($couleur-secondaire,10%), (lighten($couleur-primaire, 10%)));
            box-shadow: 3px 3px 3px darken($grix, 20%);
        }
    }
}
// on va gerer ici l'apparition des plats
// pour le media querie desktop, faire par groupe et non par plat
.menu{
    &__entrees{
        &__entree1 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait linear forwards;
            }
        }

        &__entree2 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait02 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait linear forwards ;
            }
        }
        &__entree3 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait03 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait linear forwards;
            }
        }
        &__entree4 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait04 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait linear forwards;
            }
        }
    }
    &__plats{
        &__plat1 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait05 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait02 linear forwards;
            }
        }
        &__plat2 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait06 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait02 linear forwards;
            }
        }
        &__plat3 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait07 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait02 linear forwards;
            }
        }
    }
    &__desserts{
        &__dessert1 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait08 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait03 linear forwards;
            }
        }
        &__dessert2 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait09 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait03 linear forwards;
            }
        }
        &__dessert3 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait10 linear forwards;
            @include desktop{
                animation: menu $anim-menu-duration $anim-menu-wait03 linear forwards;
            }
        }   
    }
}