@import "./base/fonts";
@import "./utils/variables";
@import "./utils/tables";
@import "./utils/mixins";
@import "./base/general";
@import "./utils/_keyframes";

.logo {
    margin: auto;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 2%;
    @include flex-centreh;
}

.situation {
    @include flex-centreh;
    border: none;
    background-color: darken($grix, 20%);
    padding: 5% 0 5% 0;
    & i{
        padding-right: 5%;
    }
    & form{
        width: 30%;
        & input{
            background-color: darken($grix, 20%);
            border: none;
            max-width: 190%;
        }
    }
}    

.presentation{    
    flex-direction: column;
    background-color: $grix;
    padding-bottom: 5%;  
    &__1, &__2, &__explore{
        @include flex-centreh;
        text-align: center;
    }
    & h2{
        margin-top: 0px;
    }
    &__explore{
        width: 60%;
        margin: auto;
        padding:10px;
        border: 0px solid $couleur-primaire;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
        color: white;
        border-radius: 20px;
        margin-bottom: 30px;
    }
}

.fonctionnement{
    margin-left: 5%;
}

.btn-fnc {
    @include flex-centrev;
    &__choice{
        @include flex-centreh;
        border: 0px solid;
        border-radius: 10px;
        padding: 10px;
        margin: 15px;
        margin-left: 0;
        width: -webkit-fill-available;
        width: -moz-available;
        background-color: $grix;
        box-shadow: 3px 3px 3px darken($grix, 10%);
        position: relative;
        height: 30px;
        & i{
            @include flex-centreh;
            position: absolute;
            left: 15%;
            top: 35%;
        }    
        &__logo{
            @include decalage;
        }
        &:hover {
            background-color: lighten($color: $couleur-primaire, $amount: 35%);
            color: $couleur-primaire;
        }
        &__txt{
            color: initial;
            left: 25%;
            top: 35%;
            position: absolute;
        }
        &__num{
            border: 1px solid $couleur-primaire;
            background-color: $couleur-primaire;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            color: white;
            display: flex;
            align-items: center;
            height: 38%;
            position: absolute;
            left: -4%;
            top: 28%;
        }
    }
}

#restos {
    background-color: $grix;
    padding-bottom: 5%;
    & figure {
        @include decalage;
        background-color: white;    
    }
}

.restos {
    &__titre{
        @include decalage;
    }
    &__carte{
        border-radius: 20px;
        position: relative;
        margin-top: 5%;
        &__pastille-new{
            border: 0px solid; 
            background-color: $couleur-tertiaire;
            color: darken($couleur-tertiaire, 40%);
            width: 60px;
            position: absolute;
            top: 5%;
            right: 5%;
            padding: 5px 10px;
        }
        &__texte{
            flex:5;
        }
        &__coeur{
            flex:1;
            font-size: 200%;
            @include flex-centrev;
            padding-right: 8%;
            position: relative;                      
            &__coeur-1{
                opacity: 1;
                position: absolute;
                left: 30%;
                transition: opacity 500ms; 
                &:hover, &active{
                    opacity: 0;
                }
            }                
            &__coeur-2{
                color: $couleur-primaire;/* linear-gradient($couleur-primaire, $couleur-secondaire);*/
                position: absolute;
                left: 30%;
                opacity: 0;
                transition: opacity 500ms; 
                &:hover, &active{
                    opacity: 1;
                }
            }
        }
        & img{
            aspect-ratio: 2 / 1;
            border-radius: 20px 20px 0px 0px;
        }
        &__texte{
            margin-left: 5%;
            padding-bottom: 5%;
            & h3 {
                margin-top: 4%;
                margin-bottom: 2%;
            }
        }
        & figcaption{
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 0px 0px 20px 20px;
        }
    }
}

footer{
    background-color: darken($color: $grix, $amount: 75%);
}

.footer{
    &__logo{
        color: white;
        & svg{
            padding-top: 3%;
            stroke: white;
            width: 20%;
            @include decalage;            
            & path{fill: white;
            }
        }
    }
    &__liste{
        & ul{
            margin: 0px;
            padding-left: 0px;
            @include decalage;
            & li{
                padding-bottom: 1%;
                & i{
                    font-size: 13px;
                    width: 7%;
                }
                & a{
                    color: white;
                }
            }
        }
    }
}

// les pages des differents restos
.head-resto{
    display: flex;
}
.retour{
    font-size: 25px;
    flex: 1;
    @include flex-centreh;
    align-items: center;
}
.logo2{
    flex: 5;
    padding-top: 5%;
    padding-bottom: 5%;
    @include flex-centreh;
    & img{
        width: 50%;
    }
}

.img-et-menu{
    position: relative;
}
.img-resto{
    position: static;
    z-index: -1;
    & img{
        aspect-ratio: 1 / 1;
    }
}
.menu{
    position: relative;
    margin-top: -28%;
    background-color: $grix;
    padding-top: 10%;
    border-radius: 50px 50px 0px 0px;
    & .plats{
        @include decalage;
        margin-bottom: 5%;
        & h2{
        margin-bottom: 0px;
        }
        & .ligne{
        border: 3px solid transparent;
        border-bottom-color: $couleur-tertiaire;
        width: 15%;
        }
    }
    &__nom{
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        &__txt{
            font-family: "Shrikhand", cursive;
            flex: 5;
            padding-left: 5%;
        }
        &__coeur{
            
            flex: 1;
            position: relative;
            &__coeur-1{
                @include coeur-titre1;
            }                
            &__coeur-2{
                @include coeur-titre2;
            }
        }
    }
    &__entrees{
        @include decalage;
        &__entree1, &__entree2, &__entree3, &__entree4{
            @include contour-plat;
        }
        @include plats
    }

    &__plats{
        @include decalage;
        &__plat1, &__plat2, &__plat3{
            @include contour-plat;
        }
        @include plats
    }
    &__desserts{
        @include decalage;
        &__dessert1, &__dessert2, &__dessert3{
            @include contour-plat;
        }
        @include plats
    }
}
.cmd{
    display: flex;
    &__btn{
        width: 55%;
        margin: auto;
        padding:20px;
        border: 0px solid $couleur-primaire;
        background: linear-gradient($couleur-secondaire, $couleur-primaire);
        color: white;
        border-radius: 30px;
        margin-bottom: 60px;
        margin-top: 30px;
        font-size: 18px;
    }
}
// on va gerer ici l'apparition des plats
.menu{
    &__entrees{
        &__entree1 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait linear forwards
        }

        &__entree2 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait02 linear forwards
        }
        &__entree3 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait03 linear forwards
        }
        &__entree4 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait04 linear forwards
        }
    }
    &__plats{
        &__plat1 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait05 linear forwards
        }
        &__plat2 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait06 linear forwards
        }
        &__plat3 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait07 linear forwards
        }
    }
    &__desserts{
        &__dessert1 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait08 linear forwards
        }
        &__dessert2 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait09 linear forwards
        }
        &__dessert3 {
            transform: translateY(200px); opacity:0;
            animation: menu $anim-menu-duration $anim-menu-wait10 linear forwards
        }   
    }
}