@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: auto;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

figure {
  width: 90%;
  margin: 0px;
}

figcaption p {
  margin: 0px;
}

a {
  text-decoration: none;
}
a:visited, a:link {
  text-decoration: none;
  color: black;
}

.btn-fnc ul {
  display: flex;
}

.logo {
  margin: auto;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.situation {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #bfbfbf;
  padding: 5% 0 5% 0;
}
.situation i {
  padding-right: 5%;
}
.situation form {
  width: 30%;
}
.situation form input {
  background-color: #bfbfbf;
  border: none;
}

.presentation {
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 5%;
}
.presentation__1, .presentation__2, .presentation__explore {
  display: flex;
  justify-content: center;
  text-align: center;
}
.presentation h2 {
  margin-top: 0px;
}
.presentation__explore {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 0px solid #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

.fonctionnement {
  margin-left: 5%;
}

.btn-fnc {
  display: flex;
  align-items: center;
}
.btn-fnc__choice {
  display: flex;
  justify-content: center;
  border: 0px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  width: -webkit-fill-available;
  background-color: #F2F2F2;
  box-shadow: 3px 3px 3px #d9d9d9;
  position: relative;
}
.btn-fnc__choice i {
  margin-left: 5%;
  margin-right: 5%;
  width: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10%;
}
.btn-fnc__choice:hover {
  background-color: #f2eafb;
  color: #9356DC;
}
.btn-fnc__choice__txt {
  color: initial;
}
.btn-fnc__choice__num {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  display: flex;
  align-items: center;
  height: 50%;
  position: absolute;
  left: -1%;
}

#restos {
  background-color: #F2F2F2;
}
#restos figure {
  margin-left: 5%;
  margin-right: 5%;
}

.restos__carte {
  border-radius: 10px;
  position: relative;
  margin-bottom: 5%;
}
.restos__carte__pastille-new {
  border: 0px solid;
  background-color: #99E2D0;
  color: #278870;
  width: 60px;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 5px 10px;
}
.restos__carte__coeur {
  font-size: 200%;
  display: flex;
  align-items: center;
  padding-right: 8%;
  transition: transform 500ms;
}
.restos__carte__coeur__coeur-1 {
  margin: auto;
  z-index: 0;
}
.restos__carte__coeur__coeur-2 {
  margin: auto;
  color: #9356DC;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms, z-index 250ms;
}
.restos__carte img {
  aspect-ratio: 2/1;
  border-radius: 20px 20px 0px 0px;
}
.restos__carte__texte {
  margin-left: 5%;
  padding-bottom: 5%;
}
.restos__carte__texte h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.restos__carte figcaption {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}

/*# sourceMappingURL=style.css.map */
