@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  max-width: 767px;
  margin: auto;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 0;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}

figure {
  width: 90%;
  margin: 0px;
}

figcaption p {
  margin: 0px;
}

a {
  text-decoration: none;
}
a:visited, a:link {
  text-decoration: none;
  color: black;
}

.btn-fnc ul {
  display: flex;
}

.loader {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: relative;
}

.double {
  margin: auto;
  border-radius: 150px;
  border: 3px solid transparent;
  position: absolute;
  top: 20%;
  left: 25%;
}
.double:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-radius: 150px;
  transform: scale(1);
  background-color: #99E2D0;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  animation: loadspin 1s linear forwards;
}

.logo-tourne {
  align-self: center;
  width: 100px;
  transform: z-index(0);
  animation: loadspin2 2s linear forwards;
  position: absolute;
  top: 24%;
  left: 30%;
}

.tout {
  position: relative;
  z-index: 0;
  transform: scale(0);
  animation: duringload 2.5s linear forwards;
}

@keyframes loadspin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(300deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0);
    opacity: 0;
    transfrom: translateX(-999999px);
  }
}
@keyframes loadspin2 {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(240deg);
  }
  75% {
    transform: rotateY(320deg) scale(1);
  }
  100% {
    transform: rotateY(360deg) scale(0);
    opacity: 0;
    transfrom: translateX(-999999px);
  }
}
@keyframes duringload {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menu {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes choix-plats-check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes choix-plats-prix {
  0% {
    transform: translateX(67%);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes choix-plats-valid {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.logo {
  margin: auto;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
}

.situation {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #bfbfbf;
  padding: 5% 0 5% 0;
}
.situation i {
  padding-right: 5%;
}
.situation form {
  width: 30%;
}
.situation form input {
  background-color: #bfbfbf;
  border: none;
  max-width: 190%;
}

.presentation {
  flex-direction: column;
  background-color: #F2F2F2;
  padding-bottom: 5%;
}
.presentation__1, .presentation__2, .presentation__explore {
  display: flex;
  justify-content: center;
  text-align: center;
}
.presentation h2 {
  margin-top: 0px;
}
.presentation__explore {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: 0px solid #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

.fonctionnement {
  margin-left: 5%;
}

.btn-fnc {
  display: flex;
  align-items: center;
}
.btn-fnc__choice {
  display: flex;
  justify-content: center;
  border: 0px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: #F2F2F2;
  box-shadow: 3px 3px 3px #d9d9d9;
  position: relative;
  height: 30px;
}
.btn-fnc__choice i {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 15%;
  top: 35%;
}
.btn-fnc__choice__logo {
  margin-left: 5%;
  margin-right: 5%;
}
.btn-fnc__choice:hover {
  background-color: #f2eafb;
  color: #9356DC;
}
.btn-fnc__choice__txt {
  color: initial;
  left: 25%;
  top: 35%;
  position: absolute;
}
.btn-fnc__choice__num {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  display: flex;
  align-items: center;
  height: 38%;
  position: absolute;
  left: -4%;
  top: 28%;
}

#restos {
  background-color: #F2F2F2;
  padding-bottom: 5%;
}
#restos figure {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

.restos__titre {
  margin-left: 5%;
  margin-right: 5%;
}
.restos__carte {
  border-radius: 20px;
  position: relative;
  margin-top: 5%;
}
.restos__carte__pastille-new {
  border: 0px solid;
  background-color: #99E2D0;
  color: #278870;
  width: 60px;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 5px 10px;
}
.restos__carte__texte {
  flex: 5;
}
.restos__carte__coeur {
  flex: 1;
  font-size: 200%;
  display: flex;
  align-items: center;
  padding-right: 8%;
  position: relative;
}
.restos__carte__coeur__coeur-1 {
  opacity: 1;
  position: absolute;
  left: 30%;
  transition: opacity 500ms;
}
.restos__carte__coeur__coeur-1:hover, .restos__carte__coeur__coeur-1active {
  opacity: 0;
}
.restos__carte__coeur__coeur-2 {
  color: #9356DC;
  /* linear-gradient($couleur-primaire, $couleur-secondaire);*/
  position: absolute;
  left: 30%;
  opacity: 0;
  transition: opacity 500ms;
}
.restos__carte__coeur__coeur-2:hover, .restos__carte__coeur__coeur-2active {
  opacity: 1;
}
.restos__carte img {
  aspect-ratio: 2/1;
  border-radius: 20px 20px 0px 0px;
}
.restos__carte__texte {
  margin-left: 5%;
  padding-bottom: 5%;
}
.restos__carte__texte h3 {
  margin-top: 4%;
  margin-bottom: 2%;
}
.restos__carte figcaption {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}

footer {
  background-color: #333333;
}

.footer__logo {
  color: white;
}
.footer__logo svg {
  padding-top: 3%;
  stroke: white;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.footer__logo svg path {
  fill: white;
}
.footer__liste ul {
  margin: 0px;
  padding-left: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
.footer__liste ul li {
  padding-bottom: 1%;
}
.footer__liste ul li i {
  font-size: 13px;
  width: 7%;
}
.footer__liste ul li a {
  color: white;
}

.head-resto {
  display: flex;
}

.retour {
  font-size: 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo2 {
  flex: 5;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}
.logo2 img {
  width: 50%;
}

.img-et-menu {
  position: relative;
}

.img-resto {
  position: static;
  z-index: -1;
}
.img-resto img {
  aspect-ratio: 1/1;
}

.menu {
  position: relative;
  margin-top: -28%;
  background-color: #F2F2F2;
  padding-top: 10%;
  border-radius: 50px 50px 0px 0px;
}
.menu .plats {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.menu .plats h2 {
  margin-bottom: 0px;
}
.menu .plats .ligne {
  border: 3px solid transparent;
  border-bottom-color: #99E2D0;
  width: 15%;
}
.menu__nom {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__nom__txt {
  font-family: "Shrikhand", cursive;
  flex: 5;
  padding-left: 5%;
}
.menu__nom__coeur {
  flex: 1;
  position: relative;
}
.menu__nom__coeur__coeur-1 {
  opacity: 1;
  position: absolute;
  left: 15%;
  transition: opacity 500ms;
}
.menu__nom__coeur__coeur-1:hover, .menu__nom__coeur__coeur-1active {
  opacity: 0;
}
.menu__nom__coeur__coeur-2 {
  color: #9356DC;
  /*linear-gradient($couleur-primaire, $couleur-secondaire);*/
  position: absolute;
  left: 15%;
  opacity: 0;
  transition: opacity 500ms;
}
.menu__nom__coeur__coeur-2:hover, .menu__nom__coeur__coeur-2active {
  opacity: 1;
}
.menu__entrees {
  margin-left: 5%;
  margin-right: 5%;
}
.menu__entrees__entree1, .menu__entrees__entree2, .menu__entrees__entree3, .menu__entrees__entree4 {
  border: 0 solid;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3%;
  box-shadow: 3px 3px 3px #d9d9d9;
}
.menu__entrees__desc {
  display: flex;
  justify-content: space-between;
}
.menu__entrees__desc__txt {
  width: 80%;
  padding: 2% 0% 2% 2%;
  /* background-color: blue; */
  transform-origin: left;
  transition: width 1s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__entrees__desc__txt h3 {
  width: 100%;
  /* font-size: 12px; */
  margin-top: 0;
  margin-bottom: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__entrees__desc__txt p {
  width: 100%;
  /*  font-size: 12px; */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__entrees__desc__prix {
  width: 20%;
  padding-bottom: 2%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 1s;
  transform: translateX(75%);
  /* background-color: yellow; */
}
.menu__entrees__desc__valid {
  width: 15%;
  background-color: #99E2D0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0px 10px 10px 0px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 1s;
}
.menu__entrees__desc__valid__check {
  transition: transform 1s 0.25s;
}
.menu__entrees__desc:hover .menu__entrees__desc__valid__check {
  transform: rotate(360deg);
}
.menu__entrees__desc:active .menu__entrees__desc__valid__check {
  transform: rotate(360deg);
}
.menu__entrees__desc:hover .menu__entrees__desc__prix {
  transform: translateX(0%);
}
.menu__entrees__desc:active .menu__entrees__desc__prix {
  transform: translateX(0%);
}
.menu__entrees__desc:hover .menu__entrees__desc__valid {
  transform: scaleX(1);
}
.menu__entrees__desc:active .menu__entrees__desc__valid {
  transform: scaleX(1);
}
.menu__entrees__desc:hover .menu__entrees__desc__txt {
  width: 45%;
}
.menu__entrees__desc:active .menu__entrees__desc__txt {
  width: 45%;
}
.menu__plats {
  margin-left: 5%;
  margin-right: 5%;
}
.menu__plats__plat1, .menu__plats__plat2, .menu__plats__plat3 {
  border: 0 solid;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3%;
  box-shadow: 3px 3px 3px #d9d9d9;
}
.menu__plats__desc {
  display: flex;
  justify-content: space-between;
}
.menu__plats__desc__txt {
  width: 80%;
  padding: 2% 0% 2% 2%;
  /* background-color: blue; */
  transform-origin: left;
  transition: width 1s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plats__desc__txt h3 {
  width: 100%;
  /* font-size: 12px; */
  margin-top: 0;
  margin-bottom: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plats__desc__txt p {
  width: 100%;
  /*  font-size: 12px; */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plats__desc__prix {
  width: 20%;
  padding-bottom: 2%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 1s;
  transform: translateX(75%);
  /* background-color: yellow; */
}
.menu__plats__desc__valid {
  width: 15%;
  background-color: #99E2D0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0px 10px 10px 0px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 1s;
}
.menu__plats__desc__valid__check {
  transition: transform 1s 0.25s;
}
.menu__plats__desc:hover .menu__plats__desc__valid__check {
  transform: rotate(360deg);
}
.menu__plats__desc:active .menu__plats__desc__valid__check {
  transform: rotate(360deg);
}
.menu__plats__desc:hover .menu__plats__desc__prix {
  transform: translateX(0%);
}
.menu__plats__desc:active .menu__plats__desc__prix {
  transform: translateX(0%);
}
.menu__plats__desc:hover .menu__plats__desc__valid {
  transform: scaleX(1);
}
.menu__plats__desc:active .menu__plats__desc__valid {
  transform: scaleX(1);
}
.menu__plats__desc:hover .menu__plats__desc__txt {
  width: 45%;
}
.menu__plats__desc:active .menu__plats__desc__txt {
  width: 45%;
}
.menu__desserts {
  margin-left: 5%;
  margin-right: 5%;
}
.menu__desserts__dessert1, .menu__desserts__dessert2, .menu__desserts__dessert3 {
  border: 0 solid;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3%;
  box-shadow: 3px 3px 3px #d9d9d9;
}
.menu__desserts__desc {
  display: flex;
  justify-content: space-between;
}
.menu__desserts__desc__txt {
  width: 80%;
  padding: 2% 0% 2% 2%;
  /* background-color: blue; */
  transform-origin: left;
  transition: width 1s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__desserts__desc__txt h3 {
  width: 100%;
  /* font-size: 12px; */
  margin-top: 0;
  margin-bottom: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__desserts__desc__txt p {
  width: 100%;
  /*  font-size: 12px; */
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__desserts__desc__prix {
  width: 20%;
  padding-bottom: 2%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 1s;
  transform: translateX(75%);
  /* background-color: yellow; */
}
.menu__desserts__desc__valid {
  width: 15%;
  background-color: #99E2D0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0px 10px 10px 0px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 1s;
}
.menu__desserts__desc__valid__check {
  transition: transform 1s 0.25s;
}
.menu__desserts__desc:hover .menu__desserts__desc__valid__check {
  transform: rotate(360deg);
}
.menu__desserts__desc:active .menu__desserts__desc__valid__check {
  transform: rotate(360deg);
}
.menu__desserts__desc:hover .menu__desserts__desc__prix {
  transform: translateX(0%);
}
.menu__desserts__desc:active .menu__desserts__desc__prix {
  transform: translateX(0%);
}
.menu__desserts__desc:hover .menu__desserts__desc__valid {
  transform: scaleX(1);
}
.menu__desserts__desc:active .menu__desserts__desc__valid {
  transform: scaleX(1);
}
.menu__desserts__desc:hover .menu__desserts__desc__txt {
  width: 45%;
}
.menu__desserts__desc:active .menu__desserts__desc__txt {
  width: 45%;
}

.cmd {
  display: flex;
}
.cmd__btn {
  width: 55%;
  margin: auto;
  padding: 20px;
  border: 0px solid #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  margin-bottom: 60px;
  margin-top: 30px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
