body {
    max-width: map-get($breakpoint, mobile);
    margin: auto;
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 0;
    @include tablette {
        min-width: map-get($breakpoint, tablette1); 
        max-width: map-get($breakpoint, tablette2);
    }
    @include desktop {
        min-width : map-get($breakpoint, desktop);
        max-width: unset;
    }
}


    ul {
        list-style: none; 
    }

    img {
            object-fit: cover;
            max-width: 100%;
    }
    
    figure {
        width: 90%;
        margin: 0px;
    }

    figcaption {
        & p {
            margin:0px
        }
    }
    a /* Liens par défaut (non survolés) */
        {
            text-decoration: none;
        &:visited, &:link {
            text-decoration: none;
            color: black;
        }
    }
.btn-fnc{
    & ul{
        display: flex;
    }
}

.loader{
    @include flex-centreh;
    width: 150px;
    height: 150px;
    
    position: relative;
    
}

.double{
    margin: auto;
    border-radius: 150px;
    border: 3px solid transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    &:after{
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        width: 150px;
        height: 150px;
        border: 3px solid transparent;
        border-radius: 150px;
        transform :scale(1);
        background-color: $couleur-tertiaire;
        border-top-color: $couleur-secondaire;
        border-bottom-color: $couleur-primaire;
        animation: loadspin 1s linear forwards;
        
    }
}

.logo-tourne {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100px;
    animation: loadspin2 2s linear forwards;
    
}

.tout-index{
    position: relative;
    z-index: 0;
    transform :scale(0);
    animation: duringload 2.5s linear forwards;
    @include desktop{
        max-width: 1280px;
        margin: auto;
    }
}
.tout{
    @include desktop{
        max-width: 1280px;
        margin: auto;
    }
}