@mixin mobile-only {
    @media screen and (max-width : map-get($breakpoint, mobile)) {
        @content;        
    }
}
@mixin tablette {
    @media screen and (min-width: map-get($breakpoint, tablette1)) 
    and (max-width: map-get($breakpoint, tablette2)) {
        @content;        
    }
}
@mixin desktop {
    @media screen and (min-width : map-get($breakpoint, desktop)) {
        @content;        
    }
}
@mixin font-txt {
    font-family: 'Roboto', sans-serif;
}
@mixin font-tit {
    font-family: 'Shrikhand', cursive;
}

@mixin flex-centreh{
    display: flex;
    justify-content: center; 
}
@mixin flex-centrev{
    display: flex;
    align-items: center;
}
@mixin flex-centrevh{
display: flex;
justify-content: center;
align-items: center;
}
@mixin decalage {
margin-left: 5%;
margin-right: 5%;
}
@mixin coeur-titre1 {
    opacity: 1;
    position: absolute;
    left: 15%;
    transition: opacity 500ms; 
    &:hover, &active{
        opacity: 0;
    }
}
@mixin coeur-titre2{
    background-image: linear-gradient($couleur-primaire, $couleur-secondaire);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    /*color: $couleur-primaire;linear-gradient($couleur-primaire, $couleur-secondaire);*/
                position: absolute;
                left: 15%;
                opacity: 0;
                transform :scale(1);
                transition: opacity 500ms; 
                &:hover, &active{
                    opacity: 1;
                    transform :scale(1.2)
                }
}
@mixin plats {
    &__desc{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
        &__txt{
            width: 80%;
            padding: 2% 0% 2% 2%;
            /* background-color: blue; */
            transform-origin: left;
            transition: width 1s;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            & h3{
                width: 100%;
                /* font-size: 12px; */
                margin-top: 0;
                margin-bottom: 1%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            & p{
                width: 100%;
              /*  font-size: 12px; */
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
        &__prix{
            width: 20%;
            padding-bottom: 2%;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: transform 1s;
            transform: translateX(75%);
            /* background-color: yellow; */
            @include tablette{
                grid-row-start: 2;
            }
        }

        &__valid {
            width: 15%;
            background-color: $couleur-tertiaire;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color : white;
            border-radius: 0px 10px 10px 0px;
            transform-origin: right;
            transform: translateX(114px);
            transition: transform 1s;
            &__check{
                transition: transform 1s 0.25s;
            }
        }
        &:hover &__valid__check{
            transform: rotate(360deg);
        }
        &:active &__valid__check{
            transform: rotate(360deg);
        }
        &:hover &__prix{
           transform: translateX(0%);
        }  
        &:active &__prix{
            transform: translateX(0%);
        }
        &:hover &__valid{
            transform: translateX(0px);
        }
        &:active &__valid{
            transform: translateX(0px);
        } 
        &:hover &__txt{
            width: 45%;
        }
        &:active &__txt{
            width: 45%;
        }
    }
}
@mixin contour-plat {
    border : 0 solid;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 3px 3px 3px darken($grix, 10%);
}

